.testimonials {
    .container {
        .row {
            .col.s6 {
                img {
                    height: 20%;
                    width: 100%;
                    border: 3px solid $accent2;
                }
                h4 {
                    color: $primary;
                }
            }
        }
    }
}
