// Work Page stylesheet
.work {
    text-align: center;
    padding: 2em 0;
    h2 {
        color: $primary;
        margin-bottom: .5em;
    }
    .outdoor {
        color: $primary;
        margin-top: 4em;
        margin-bottom: .5em;
    }
    .row {
        margin-bottom: 0;
    }
    .col {
        margin-bottom: .5em;
        border-left: .3em solid white;
        border-right: .3em solid white;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tall {
        height: 80vh;
    }
    .short {
        height: 40vh;
    }
    .wide {
        height: 70vh;

    }
    #interior-1 {
        background-image: url(/images/interior-1.jpg)
    }
    #interior-2 {
        background-image: url(/images/interior-2.jpg)
    }
    #interior-3 {
        background-image: url(/images/interior-3.jpg)
    }
    #interior-4 {
        background-image: url(/images/interior-4.jpg)
    }
    #interior-6 {
        background-image: url(/images/interior-6.jpg)
    }
    #interior-7 {
        background-image: url(/images/interior-7.jpg)
    }
    #interior-8 {
        background-image: url(/images/interior-8.jpg)
    }
    #interior-9 {
        background-image: url(/images/interior-9.jpg)
    }
    #interior-5 {
        background-image: url(/images/interior-5.jpg)
    }
    #interior-10 {
        background-image: url(/images/interior-10.jpg)
    }
    #interior-11 {
        background-image: url(/images/interior-11.jpg)
    }
    #interior-12 {
        background-image: url(/images/interior-12.jpg)
    }
    #interior-13 {
        background-image: url(/images/interior-13.jpg)
    }
    #interior-14 {
        background-image: url(/images/interior-14.jpg)
    }
    #interior-15 {
        background-image: url(/images/interior-15.jpg)
    }
    #interior-16 {
        background-image: url(/images/interior-16.jpg)

    }
    #remodel-1 {
        background-image: url(/images/remodel-1.jpg)
    }
    #remodel-2 {
        background-image: url(/images/remodel-2.jpg)
    }
    #fireplace-1 {
        background-image: url(/images/fireplace-1.jpg)
    }
    #fireplace-2 {
        background-image: url(/images/fireplace-2.jpg)
    }
    #newconstruction-1 {
        background-image: url(/images/newconstruction-1.jpg)
    }
    #newconstruction-2 {
        background-image: url(/images/newconstruction-2.jpg)
    }
    #exterior-1 {
        background-image: url(/images/exterior-1.jpg)
    }
    #exterior-3 {
        background-image: url(/images/exterior-3.jpg)
    }
    #fence-1 {
        background-image: url(/images/fence-1.jpg)
    }
    #fence-2 {
        background-image: url(/images/fence-2.jpg)
    }
    #exterior-2 {
        background-image: url(/images/exterior-2.jpg)
    }
    #exterior-4 {
        background-image: url(/images/exterior-4.jpg)
    }
    #exterior-5 {
        background-image: url(/images/exterior-5.jpg)
    }
    #exterior-6 {
        background-image: url(/images/exterior-6.jpg)
    }
    #exterior-7 {
        background-image: url(/images/exterior-7.jpg)

    }
    #fence-3 {
        background-image: url(/images/fence-3.jpg)
    }
    #fence-4 {
        background-image: url(/images/fence-4.jpg)
    }
    #rail-before1 {
        background-image: url(/images/rail-before1.jpg)
    }
    #rail-before2 {
          background-image: url(/images/rail-before2.jpg)
    }
    #rail-before3 {
          background-image: url(/images/rail-before3.jpg)
    }
    #rail-after {
        background-image: url(/images/rail-after.jpg)
    }
    #pool-before {
        background-image: url(/images/pool-before.jpg)
    }
     #pool-after1 {
        background-image: url(/images/pool-after1.jpg)
    }
     #pool-after2 {
        background-image: url(/images/pool-after2.jpg)
    }
     #pool-after3 {
        background-image: url(/images/pool-after3.jpg)
    }
      #black-door-beforeandafter {
        background-image: url(/images/black-door-beforeandafter.jpg)
    }
     #red-door-beforeandafter {
        background-image: url(/images/red-door-beforeandafter.jpg)
    }


}
