@import "mixins";
@import "variables";
@import "work";
@import "testimonials";
@import "services";
nav {
    padding-left: 5%;
    padding-right: 5%;
    background-color: $primary;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    height: 60vh;
    z-index: 998;
}
.brand-logo {
    position: relative;
    img {
        width: 1.5em;
        height: 1.5em;
        @include h-center;
        margin-top: .25em;
    }
}

.contain {
    width: 100%;
    height: 100vh;
    position: relative;
    .content {
        height: auto;
        width: auto;
        text-align: center;
        @include centerer;
        i {
            font-size: 3em;
           color: $secondary;
        }
        h1 {
           font-size: 1.5em;
            color: $primary;
            margin: 0;
        }
        h2 {
            font-size: 1.1em;
            color: $secondary;
        }
    }
}

.slider {
    height: 65vh !important;
    .slides {
        height: 60vh !important;
        h3 {
            z-index: 999 !important;
        }
        h5 {
            z-index: 999 !important;
        }
    }
    .indicators {
        .indicator-item.active {
            background-color: $accent2;
        }
    }
}

.container.bio {
    text-align: center;
    padding: 2em 0;
    h1 {
        color: $primary;
    }
    h4 {
        color: $accent2;
    }
    p {
        color: $secondary;
        font-size: 1.2em;
    }
    .call {
        color: $accent2;
    }
}

.container {
    margin-top: 2em;
    padding: 2em 0;
    .skill {
        position: relative;
        text-align: center;
        i {
            font-size: 4em;
            color: $accent2;
        }
        h1 {
            font-size: 2em;
            margin-top: .5em;
            color: $primary;
        }
        p {
            color: $secondary;
        }
    }
}

.container.crew {
    .card {
        height: auto;
        .card-image {
            height: 20em;
        }
        .card-content {
            height: 17em;
        }
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: $primary;
    input:focus {
        border-bottom: 1px solid white !important;
    }
    textarea:focus {
         border-bottom: 1px solid white !important;
    }
    .active {
        color: white !important;
    }
    .prefix {
        color: white;
    }
    .prefix.active {
        color: $accent2;
    }
    input {
        color: white;
    }
    textarea {
        color: white;
    }
    .submit {
        background-color: $primary;
        border: 1px solid white;
        color: white;
        width: 50%;
        @include h-center;
    }
    .submit:hover {
        background-color: white;
        color: $primary;
    }
    i {
        font-size: 2em;
        display: inline-block;
    }
    .connect {
        ul {
            height: 100%;
        }
        .info {
            color: white;
            font-size: 1.1em;
            white-space: nowrap;
        }
        li {
            @include inline;
            margin: 1em;
            i {
                font-size: 4em;
            }
        }
    }
    .footer-copyright {
        width: 100%;
        padding: 0 1em;
        color: white;
        margin-top: 3em;
        text-align: center;
    }
}

@media only screen and (max-width: 993px) {
    .crew {
        .card-content {
            height: auto !important;
        }
    }
}
