@import "mixins";
@import "variables";
@import "work";
nav {
    padding-left: 5%;
    padding-right: 5%;
    background-color: $primary;
}

.banner {
    width: 100%;
    height: 95vh;
    background-image: url('/images/exterior-paint-door.jpeg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.container.bio {
   text-align: center;
}

.container {
    margin-top: 2em;
    .row {
        .col.s4 {
            position: relative;
            text-align: center;
            i {
                font-size: 4em;
            }
            h1 {
                font-size: 2em;
                margin-top: .5em;
            }
            p {}
        }
    }
}

.container.crew {
    .row {
        display: inline-block;
    }
}

footer.page-footer {
    background-color: $primary;
    .container {
        .row {
            .col.l4.offset-l2.s12 {
                ul {
                    li {
                        i {
                            font-size: 2em;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .footer-copyright {
        overflow: visible;
    }
}
