@import "mixins";
@import "variables";
@import "work";
@import "testimonials";
@import "services";
nav {
    padding-left: 5%;
    padding-right: 5%;
    background-color: $primary;
}

.slider {
    height: 70vh !important;
    .slides {
        height: 60vh !important;
    }
    .indicators {
        .indicator-item.active {
            background-color: $accent2;
        }
    }
}

.container.bio {
    text-align: center;
    padding: 2em 0;
    h1 {
        color: $primary;
    }
    p {
        color: $secondary;
    }
    .call {
        color: $accent2;
    }
}

.container {
    margin-top: 2em;
    padding: 2em 0;
    .skill {
        position: relative;
        text-align: center;
        i {
            font-size: 4em;
            color: $accent2;
        }
        h1 {
            font-size: 2em;
            margin-top: .5em;
            color: $primary;
        }
        p {
            color: $secondary;
        }
    }
}

.container.crew {
    .card {
        height: auto;
        .card-image {
            height: 20em;
        }
        .card-content {
            height: 17em;
        }
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: $primary;
    .prefix {
        color: white;
    }
    .prefix.active {
        color: $accent2;
    }
    .input {
        border-bottom: 1px solid white;
    }
    .submit {
        background-color: $primary;
        border: 1px solid white;
        color: white;
        width: 50%;
        @include h-center;
    }
    i {
        font-size: 2em;
        display: inline-block;
    }
    .copyright {
        width: 100%;
        padding: 0 1em;
    }
}

@media only screen and (max-width: 993px) {
    .crew {
        .card-content {
            height: auto !important;
        }
    }
}
