
<div class="slider">
    <ul class="slides">

        <li>
<!--           <div class="overlay"></div>-->
            <img src="/images/pomp.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h3>Peace of Mind Painting</h3>
                <h5 class="light grey-text text-lighten-3">Bringing peace of mind to your next home improvement project</h5>
            </div>
        </li>

        <li>
            <img src="/images/interior.jpg">
            <!-- random image -->
            <div class="caption right-align">
                <h3>Interior</h3>
                <h5 class="light grey-text text-lighten-3">Transforming your living spaces to life!</h5>
            </div>
        </li>
        <li>
            <img src="/images/exterior-paint-door.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Exterior</h3>
                <h5 class="light grey-text text-lighten-3">Coating your home in beauty for years to come!</h5>
            </div>
        </li>
        <li>
            <img src="/images/more.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h3>And so much more!</h3>
                <h5 class="light grey-text text-lighten-3">Whatever you're looking to spruce up, we can help!</h5>
            </div>
        </li>
    </ul>
</div>

<div class="container bio">
    <h1>Peace of Mind Painting</h1>
    <h4>Done right <i>every</i> time!</h4>
    <p>Serving the greater Knoxville, Tennessee communities, Peace of Mind Painting is dedicated to delivering a professional, skilled, and valuable experience while bridging the gap between the QUALITY you desire and the VALUE you deserve. We have the knowledge required to successfully navigate each stage of your painting project. Precision residential interior and exterior finishes combined with commercial experience makes Peace of Mind Painting your go-to company for all your painting needs.
        <br>
        <p class="call">CALL TODAY TO SCHEDULE A FREE ESTIMATE AT 865-279-0608!</p>
    </p>
</div>

<div class="container">
    <div class="row">

        <div class="col s12 m4 skill">
            <span><i class="ion-bowtie"></i></span>
            <h1>Professional</h1>
            <p>Peace of Mind Painting is a professional painting service. We will set your mind at ease by handling all matters in a professional manner.</p>
        </div>
        <div class="col s12 m4 skill">
            <span><i class="ion-briefcase"></i></span>
            <h1>Skilled</h1>
            <p>Boasting over 20 years experience in the painting field, rest assured that Peace of Mind Painting commands the skills necessary for every step of your painting project.</p>
        </div>
        <div class="col s12 m4 skill">
            <span><i class="ion-social-usd"></i></span>
            <h1>Valuable</h1>
            <p>You get what you pay for. Paying for us to do it right won't break the bank! Our work is performed at a fair rate and is sure to last for years to come. A great value!</p>
        </div>

    </div>

</div>

<div class="container crew">
    <div class="row">
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="images/scott.jpg">
                    <span class="card-title">Scott Froelich: Owner & Operator</span>
                </div>
                <div class="card-content">
                    <p>Scott brings to your project over ten years experience in the painting industry. His attention to detail and meticulous practices set him apart in the painting community. Expect clear and timely communication and an eagerness to listen in order to successfully complete your project according to your vision.</p>
                </div>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="images/joe.jpg">
                    <span class="card-title">Joe Kitson</span>
                </div>
                <div class="card-content">
                    <p>Joe also has over 10 years experience as a painter. Beginning in middle school, he worked for a painting contractor and continued all the way through his college years. With industrial experience and several of his own residential clients, Joe has learned that consistent quality and dependability are the keystones to success. </p>
                </div>
            </div>
        </div>
    </div>
</div>
