<div class="services">
    <div class="container">
       <div class="row">
<!--
           <div class="col m12 l6 roller-container">

                <div class="roller" ng-include="'images/paint-roller.svg'"></div>
           </div>
-->
           <div class="col s12 info">
               <h3>We're really good at painting...</h3>
               <h5>but we can also help with the following:</h5>
               <ul>
                   <li>Custom Interior Finishes</li>
                   <li>Vibrant Exterior Coatings</li>
                   <li>Deck and Fence Refinishing</li>
                   <li>Custom Stain Work</li>
                   <li>Wallpaper Removal</li>
                   <li>New Construction and Remodel</li>
                   <li>Sheetrock Repair and Refinishing</li>
               </ul>
           </div>
       </div>
    </div>
</div>
