<!-- Work Page -->
<div class="work container">

   <!-- Only shown while editing -->
<!--
    <div ng-if="editing">
        <label for="">path</label>
        <input type="text" name="" id="" ng-model="new.photoPath">
        <button ng-click="submitNew()">Submit</button>
        <button ng-click="save()">Save</button>
        <ul>
            <li ng-repeat="photo in photosArray">
                <input type="text" ng-model="photo.photoPath">
            </li>
        </ul>
    </div>
-->

   <h2 ng-show="loaded">Interior</h2>

    <!-- Interior Grid dont touch -->
    <div gridster="gridsterOpts" class="interior-grid" ng-show="loaded">
        <ul>
            <li gridster-item="photo" ng-repeat="photo in photosArray" class="card">
                <img class="materialboxed photo" ng-src="{{photo.photoPath}}">
            </li>
        </ul>
    </div>

    <h2 ng-show="loadedExt">Exterior</h2>

    <!-- Only shown while editing -->
<!--
    <div ng-if="editing">
        <h1>Break</h1>
        <input type="text" name="" id="" ng-model="new.photoPath">
        <button ng-click="submitNewExt()">Submit</button>
        <button ng-click="saveExt()">Save Ext</button>
        <ul>
            <li ng-repeat="photo in photosExtArray">
                <input type="text" ng-model="photo.photoPath">
            </li>
        </ul>
    </div>
-->


    <!-- Exterior Grid dont touch -->
    <div gridster="gridsterOptsExt" ng-show="loadedExt">
        <ul>
            <li gridster-item="photo" ng-repeat="photo in photosExtArray" class="card">
                <img class="materialbox photo" ng-src="{{photo.photoPath}}">
            </li>
        </ul>
    </div>

</div>


